body {
      background-color: black;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      flex-direction: column;
      align-items: center;
}
h1{
    color: white;
}
.botaotam{
    display: inline-flex !important;
    align-items: center !important;
    justify-content: center !important;
    width:80px;
    height:40px
}